<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <nav>
        <div class="nav">

        </div>
    </nav>


<main>
    <div class="container">
        <div class="l"></div>
        <div class="r"></div>
    </div>

    <div class="text">
        <p>Welcome To sigma Webdev express.</p>
    </div>

    <img src="Star Agency.png" alt="">
</main>

<footer>

</footer>
</body>
</html>
