body
{
    background-image: url(image.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

p{
    background-color: rgb(138, 127, 127);
}
a{
    background-color: red;
}
div
{
    background-color: orange;
}

span
{
    background-color: lightblue;
}
