body {
    background-color: aliceblue;
}

@media only screen and (max-width:455px) {
    body {
        background-color: blue;
    }
    .boxes
    {
        flex-direction: column;
    }
}
 @media screen and (orientation:landscape) 
 {
    body
    {
        background-color: rgb(169, 169, 30);

    }
    .boxes
    {
        flex-direction: row;
    }
 }



.boxes
{
    display: flex;
}
.box
{
    background-color: aqua;
    width:344px;
    height:344px;
    margin:3px;
    /* padding:3px; */
}
